
body {
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: white;
    margin: 0;
    padding: 0;
}

.game-item {
    width: 200px;
    background-color: #1E1E1E;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    transition: transform 0.4s cubic-bezier(0.25, 0.45, 0.45, 1),
    box-shadow 0.4s ease;
    overflow: hidden;
    will-change: transform, box-shadow;
}
.game-item img {
    width: 100%;
    border-radius: 10px;
}
.game-item p {
    margin: 10px 0 5px;
    font-weight: bold;
}
.game-item span {
    color: #bbb;
}

.game-item:hover {
    transform: scale(1.07) translateZ(0);
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.7);
}

/*구현중...........................*/
/*태그 일괄 설정*/
button{

    margin: 0;
    border: 0;
    padding: 0;
    display: inline-block;
    vertical-align: middle;
    white-space: normal;
    background: none;
    font-display: swap;

}


a{
    text-decoration-line: none;
    color: white;
}


img, svg {
    user-select: none;
    pointer-events: none;
}


/*구현중...........................*/
.browse_wrap{
    margin: 50px auto;
    width: 75%;
    max-width: 1600px;
    padding-bottom: 90px;
}

.browse-top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.browse-top-title{
    padding-left: 20px;
    font-size: 24px;
    font-weight: bold;

}

.slide_btns {
    display: flex;
    flex-direction: row;
}

.slide_btns_flex {
    display: flex;
    flex-direction: row;
}

.slide_btns_margin{
    margin-left: 15px;
}

.slide_btns_design {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: inherit;
    position: relative;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 50%;
}


.slide_btns_design::before {
    content: '';
   
    position: absolute;
    background-color: rgba(255, 255, 255, 0.15);
    width: 100%;
    height: 100%;
    border-radius: 100%;

    left: 0;
    top: 0;
    border: 1px solid transparent;
    pointer-events: none;
}


.slide_btns_design>span {
    z-index: 1;
}

.slide_btns_left {
    display: block;
    line-height: 0;
    width: 12px;
    height: 12px;
    transform: rotateY(180deg);
}

.slide_btns_size {
    width: 100%;
    height: 100%;
}

.slide_btns_right {
    display: block;
    line-height: 0;
    width: 12px;
    height: 12px;
    transform: rotateY(0deg);
}


/**************************************************************************/




/******************************************************************************/
.browse_main{
    display: flex;
    flex-direction: row-reverse;/*순서 반대로*/
    align-items: flex-start;
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-size: 1rem;
    line-height: normal;
    justify-content: left;
    border: solid 1px transparent;
    margin-top: 40px;
    margin-bottom: 0;
    flex-shrink: 0;
    padding: 0; 
    font-size: 1rem;
    line-height: normal;
}

.browse_fillter{
    
    width: 225px;
    flex-shrink: 0;
    background-color: #1E1E1E;
    padding: 15px;
    border-radius: 10px;
}


.fillter_top{
    display: flex;
    justify-content: space-between;
}

.fillter_top .fillter_top_title{
  font-size: 20px;  
}

.fillter_top #fillter_reset_btn{
    display: none;
    margin: 0;
    border: 0;
    padding: 0;
    
    vertical-align: middle;
    white-space: normal;
    background: none;
    color :white;
    cursor: pointer;
}

.fillter_inputbox{
    position: relative;
    color: white;
    background-color: rgb(32, 32, 36);
    border-radius: 4px;
    width: 100%;
    height: 40px;
    margin-top: 20px;
}

.fillter_input_icon{
    display: block;
    line-height: 0;
    position: absolute;
    top: 13px;
    width: 13px;
    height: 13px;
    z-index: 1;
    color: rgb(255, 255, 255);
}

.fillter_input{

    position: relative;
    color: rgb(255, 255, 255);
    background-color: rgb(32, 32, 36);
    border-radius: 4px;
    
    height: 40px;
    box-sizing: border-box !important;
    

    margin: 0;
    border: 0;
    padding: 0;

    padding-left: 40px;
    display: inline-block;
    vertical-align: middle;
    white-space: normal;
    background: none;

    outline: 0;
}


.fillter_item{
    margin-top: 20px;
    margin-bottom: 5px;
    width: 100%;
    cursor: pointer;
}

.fillter_btn{
    color :white;
    font-size: 15px;    
    text-align: left;
    cursor: pointer;

    margin: 0;
    border: 0;
    padding: 12px;
    /* display: inline-block;
    vertical-align: middle; */
    white-space: normal;
    background: none;
    width: 100%;

    display: flex;
    justify-content: space-between;

}

.fillter_item_child{
    margin-top: 2px;
}

.fillter_select{
    display: flex;
    padding:12px; 
    
    width: 100%;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 3px;
    justify-content: space-between;
    margin-bottom: 5px;
    pointer-events: all;
    
}

.fillter_select:hover{
    
    width: 100%;
    background-color: rgba(255, 255, 255, 0.267);
    
}

.fillter_select_event{
    
    background-color: rgba(255, 255, 255, 0.267);
}

.fillter_select_arrow{
    width: 15px;
    height: 10px;
}

.arrow{
    
    fill: white;
}

.hide_menu{
    display: none;
}

.show_menu{
    display: block;
}




/*content box 구현*/
.browse_section{
    
    float: left;
    width: calc(100% - 245px);
    padding-right: 15px;
}



.browse_section_fillter{
    display: flex;
    padding-left: 20px;
    
}

/*게임 리스트를 보여주는 화면*/
/*width 800px*/

.browse_list_section{

    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    padding: 20px;
    justify-content:left;
    overflow-x: auto;
}



.browse-list{
    display: flex;
    overflow-x: hidden;
    scroll-behavior: smooth;
    width: 100%;
    white-space: nowrap;
    gap: 15px;
    padding: 20px;

}

.browse-item{
    margin-left: 10px;
}


.browse-item img{
    
    border-radius: 10px;
    width: 200px;
    position: relative;
    transition: filter 0.3s ease-in-out;
}

.white_layer{
    position: relative;
    display: inline-block;
    border-radius: 10px;
    overflow: hidden;
}

.white_layer img{
    display: block;
    width: 200px;
    height: auto;
    transition: opacity 0.3s ease-in-out;
    overflow: hidden;
}

.white_layer::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0); /* 초기에는 투명 */
    transition: background 0.3s ease-in-out;
}

.white_layer:hover::after {
    background: rgba(255, 255, 255, 0.1); /* 흰색 반투명 */
    transform: scale(1.1);
}

.browse-item-type{
    font-size: 13px;
    padding-top: 10px;
}


.browse-item-title{
    font-size: 24px;
    font-weight: bold;
    padding-top: 10px
}


.browse-item-price{
    font-size: 15px;
    padding-top: 10px;
}


/*하단 네비게이션 css*/
.pagination_navigation{
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
}

.pagination_navigation li{
    list-style: none;
    width: 30px;
    display: flex;
    justify-content: center;
}